<?xml version="1.0" ?>
<openerp>
	<data>
    
        <record model="ir.ui.view" id="view_account_config_settings_brand">
            <field name="name">view_account_config_settings_brand</field>
            <field name="model">account.config.settings</field>
            <field name="inherit_id" ref="account.view_account_config_settings"/>
            <field name="arch" type="xml">
                <xpath expr="/form/group[7]" position="after">
                    <div>
                        <label for="brand_logo"/>
                        <field name="brand_logo" widget='image' class="oe_avatar oe_inline"/>
                    </div>
                </xpath>
            </field>
        </record>

  </data>
</openerp>