.o_underline_color_301 {
  border-bottom: 4px solid white;
}
.oe_kanban_color_301 {
  background-color: white !important;
}
.o_calendar_color_301 {
  color: black !important;
  background-color: white !important;
  border-color: black !important;
  opacity: 0.7;
}

.o_underline_color_302 {
  border-bottom: 4px solid #fc7e00;
}
.oe_kanban_color_302 {
  background-color: #fc7e00 !important;
}
.o_calendar_color_302 {
  color: black !important;
  background-color: #fc7e00 !important;
  border-color: black !important;
  opacity: 0.7;
}

.o_underline_color_303 {
  border-bottom: 4px solid yellow;
}
.oe_kanban_color_303 {
  background-color: yellow !important;
}
.o_calendar_color_303 {
  color: black !important;
  background-color: yellow !important;
  border-color: black !important;
  opacity: 0.7;
}

.o_underline_color_304 {
  border-bottom: 4px solid green;
}
.oe_kanban_color_304 {
  background-color: green !important;
}
.o_calendar_color_304 {
  color: black !important;
  background-color: green !important;
  border-color: black !important;
  opacity: 0.7;
}

.o_underline_color_305 {
  border-bottom: 4px solid #3364ea;
}
.oe_kanban_color_305 {
  background-color: #3364ea !important;
}
.o_calendar_color_305 {
  color: black !important;
  background-color: #3364ea !important;
  border-color: black !important;
  opacity: 0.7;
}

.o_underline_color_306 {
  border-bottom: 4px solid #b9e03c;
}
.oe_kanban_color_306 {
  background-color: #b9e03c !important;
}
.o_calendar_color_306 {
  color: black !important;
  background-color: #b9e03c !important;
  border-color: black !important;
  opacity: 0.7;
}

.o_underline_color_307 {
  border-bottom: 4px solid black;
}
.oe_kanban_color_307 {
  background-color: black !important;
}
.o_calendar_color_307 {
  color: white !important;
  background-color: black !important;
  border-color: black !important;
  opacity: 0.7;
}

.o_underline_color_308 {
  border-bottom: 4px solid #25e4d0;
}
.oe_kanban_color_308 {
  background-color: #25e4d0 !important;
}
.o_calendar_color_308 {
  color: black !important;
  background-color: #25e4d0 !important;
  border-color: black !important;
  opacity: 0.7;
}

.o_underline_color_309 {
  border-bottom: 4px solid #0e6c0e;
}
.oe_kanban_color_309 {
  background-color: #0e6c0e !important;
}
.o_calendar_color_309 {
  color: white !important;
  background-color: #0e6c0e !important;
  border-color: black !important;
  opacity: 0.7;
}

.o_underline_color_321 {
  border-bottom: 4px solid red;
}
.oe_kanban_color_321 {
  background-color: red !important;
}
.o_calendar_color_321 {
  color: black !important;
  background-color: red !important;
  border-color: black !important;
  opacity: 0.7;
}

.o_calendar_container {
  .o_calendar_view {
    .o_calendar_widget {
      .o_field_blocked_note_calendar {
        font-weight: bold;
      }
    }
  }
}
.o_calendar_view .o_calendar_widget .fc-dayGridMonth-view .fc-event .fc-content {
	white-space: inherit;
}