.o_underline_color_301 { border-bottom: 4px solid white; }
.oe_kanban_color_301 { background-color: white !important; }
.o_calendar_color_301 { color: black !important;
                        background-color: white !important;
                        border-color: black !important;
                        opacity: 0.7; }

.o_underline_color_302 { border-bottom: 4px solid #fc7e00; }
.oe_kanban_color_302 { background-color: #fc7e00 !important; }
.o_calendar_color_302 { color: black !important;
                        background-color: #fc7e00 !important;
                        border-color: black !important;
                        opacity: 0.7; }

.o_underline_color_304 { border-bottom: 4px solid #ff00ff; }
.oe_kanban_color_304 { background-color: #ff00ff !important; }
.o_calendar_color_304 { color: black !important;
                        background-color: #ff00ff !important;
                        border-color:  #ff00ff !important;
                        opacity: 0.7; }

.o_underline_color_305 { border-bottom: 4px solid black; }
.oe_kanban_color_305 { background-color: black !important; }
.o_calendar_color_305 { color: white !important;
                        background-color: black !important;
                        border-color:  black !important;
                        opacity: 0.7; }

.o_underline_color_306 { border-bottom: 4px solid #3399ff; }
.oe_kanban_color_306 { background-color: #3399ff !important; }
.o_calendar_color_306 { color: black !important;
                        background-color: #3399ff !important;
                        border-color:  #3399ff !important;
                        opacity: 0.7; }

.o_underline_color_307 { border-bottom: 4px solid #cc9966; }
.oe_kanban_color_307 { background-color: #cc9966 !important; }
.o_calendar_color_307 { color: black !important;
                        background-color: #cc9966 !important;
                        border-color:  #cc9966 !important;
                        opacity: 0.7; }

.o_underline_color_308 { border-bottom: 4px solid #ffff00; }
.oe_kanban_color_308 { background-color: #ffff00 !important; }
.o_calendar_color_308 { color: black !important;
                        background-color: #ffff00 !important;
                        border-color: #ffff00 !important;
                        opacity: 0.7; }

.o_underline_color_309 { border-bottom: 4px solid cyan; }
.oe_kanban_color_309 { background-color: cyan !important; }
.o_calendar_color_309 { color: black !important;
                        background-color: cyan !important;
                        border-color: cyan !important;
                        opacity: 0.7; }

.o_underline_color_312 { border-bottom: 4px solid white; }
.oe_kanban_color_312 { background-color: white !important; }
.o_calendar_color_312 { color: black !important;
                        background-color: white !important;
                        border-color: white !important;
                        opacity: 0.7; }

.o_underline_color_313 { border-bottom: 4px solid green; }
.oe_kanban_color_313 { background-color: green !important; }
.o_calendar_color_313 { color: black !important;
                        background-color: green !important;
                        border-color: green !important;
                        opacity: 0.7; }

.o_underline_color_314 { border-bottom: 4px solid #00ffff; }
.oe_kanban_color_314 { background-color: #00ffff !important; }
.o_calendar_color_314 { color: black !important;
                        background-color: #00ffff !important;
                        border-color: #00ffff !important;
                        opacity: 0.7; }

.o_underline_color_315 { border-bottom: 4px solid #ffffcc; }
.oe_kanban_color_315 { background-color: #ffffcc !important; }
.o_calendar_color_315 { color: black !important;
                        background-color: #ffffcc !important;
                        border-color: #ffffcc !important;
                        opacity: 0.7; }

.o_underline_color_316 { border-bottom: 4px solid #3c78d8; }
.oe_kanban_color_316 { background-color: #3c78d8 !important; }
.o_calendar_color_316 { color: black !important;
                        background-color: #3c78d8 !important;
                        border-color: #3c78d8 !important;
                        opacity: 0.7; }

.o_underline_color_317 { border-bottom: 4px solid #00ff00; }
.oe_kanban_color_317 { background-color: #00ff00 !important; }
.o_calendar_color_317 { color: black !important;
                        background-color: #00ff00 !important;
                        border-color: #00ff00 !important;
                        opacity: 0.7; }
