@media screen and (max-device-width: 768px){
.navbar-collapse {
    width: 100%;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.openerp .oe_view_manager table.oe_view_manager_header h2 {
    line-height: 0px !important;
}
.openerp .oe_form_sheet_width {
    min-width: 300px;
}
.openerp .oe_list_content .oe_list_header_columns {
    font-size: 20px;
}
.openerp table { height: 42px; font-size: 33px;}
.openerp .oe_form input[type="text"], .openerp .oe_form input[type="password"], .openerp .oe_form input[type="file"], .openerp .oe_form select {
	height: 42px;
}
.openerp a.button, .openerp button, .openerp .oe_button, .openerp input[type='submit'] {
    height: 42px;
    font-size: 33px;}
.openerp a.button:active, .openerp a.button.active, .openerp button:active, .openerp .oe_button:active, .openerp .oe_button.active, .openerp input[type='submit']:active, .openerp input[type='submit'].active{
    display: none;
}
.openerp .oe_dropdown_toggle oe_dropdown_arrow oe_opened {
    display: none;
}
.openerp .oe_application a { font-size: 33px;}
.openerp .oe_form_editable .oe_form .oe_form_field_date input {
    font-size: 33px;
    width: auto;
}
.ui-autocomplete-input, .uneditable-input {
	display: inline-block;
	padding: 4px;
	font-size: 33px;
	line-height: 18px;
	color: #808080;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
}