.oe_kanban_hyddemo_color_0 {
    background-color: white !important;
}

.oe_kanban_hyddemo_color_1 {
    background-color: #fff1c7 !important;
}

.oe_kanban_hyddemo_color_2 {
    background-color: #e3ffc7 !important;
}

.oe_kanban_hyddemo_color_3 {
    background-color: #cccccc !important;
}

.oe_kanban_hyddemo_color_4 {
    background-color: #ffd7d7 !important;
}

.oe_kanban_hyddemo_color_5 {
    background-color: #c9d0ff !important;
}

.oe_kanban_hyddemo_color_6 {
    background-color: #d7c797 !important;
}

.oe_kanban_hyddemo_color_7 {
    background-color: white !important;
}

.oe_kanban_hyddemo_color_8 {
    background-color: white !important;
}

.oe_kanban_hyddemo_color_9 {
    background-color: white !important;
}

.o_calendar_color_hyc1 {
            color: #000000 !important;
            background-color: #ffffff !important;
            border-color:  #000000 !important;
            opacity: 0.7;
}
.o_calendar_color_hyc2 {
            color: #000000;
            background-color: #aa309d !important;
            border-color:  #aa309d !important;
            opacity: 0.7;
}
.o_calendar_color_hyc3 {
            color: #000000;
            background-color: #f8ca03 !important;
            border-color:  #f8ca03 !important;
            opacity: 0.7;
}
.o_calendar_color_hyc4 {
            color: #000000;
            background-color: #59b300 !important;
            border-color:  #59b300 !important;
            opacity: 0.7;
}
.o_calendar_color_hyc5 {
            color: #000000;
            background-color: #303030 !important;
            border-color:  #303030 !important;
            opacity: 0.7;
}
.o_calendar_color_hyc6 {
            color: #000000;
            background-color: #c70000 !important;
            border-color:  #c70000 !important;
            opacity: 0.7;
}
.o_calendar_color_hyc7 {
            color: #000000;
            background-color: #0522ff !important;
            border-color:  #0522ff !important;
            opacity: 0.7;
}
.o_calendar_color_hyc8 {
            color: #000000;
            background-color: #a47c48 !important;
            border-color:  #a47c48 !important;
            opacity: 0.7;
}
.o_calendar_color_hyc9 {
            color: #000000;
            background-color: #1e90ff !important;
            border-color:  #1e90ff !important;
            opacity: 0.7;
}
.o_calendar_color_hyca {
            color: #000000;
            background-color: #00e07a !important;
            border-color:  #00e07a !important;
            opacity: 0.7;
}
.o_calendar_color_hycb {
            color: #000000;
            background-color: #30aa7a !important;
            border-color:  #30aa7a !important;
            opacity: 0.7;
}

.o_underline_color_hyc1 {
            border-bottom: 4px solid #ffffff;
}
.o_underline_color_hyc2 {
            border-bottom: 4px solid #aa309d;
}
.o_underline_color_hyc3 {
            border-bottom: 4px solid #f8ca03;
}
.o_underline_color_hyc4 {
            border-bottom: 4px solid #59b300;
}
.o_underline_color_hyc5 {
            border-bottom: 4px solid #303030;
}
.o_underline_color_hyc6 {
            border-bottom: 4px solid #c70000;
}
.o_underline_color_hyc7 {
            border-bottom: 4px solid #0522ff;
}
.o_underline_color_hyc8 {
            border-bottom: 4px solid #a47c48;
}
.o_underline_color_hyc9 {
            border-bottom: 4px solid #1e90ff;
}
.o_underline_color_hyca {
            border-bottom: 4px solid #00e07a;
}
.o_underline_color_hycb {
            border-bottom: 4px solid #30aa7a;
}
