.oe_kanban_color_301 {
    background-color: white !important;
}
.oe_kanban_color_305 {
    background-color: black !important;
}
.oe_kanban_color_308 {
    background-color: yellow !important;
}
.oe_kanban_color_309 {
    background-color: cyan !important;
}
.oe_kanban_color_312 {
    background-color: orange !important;
}
.oe_kanban_color_313 {
    background-color: green !important;
}

.o_calendar_color_301 {
            color: black !important;
            background-color: white !important;
            border-color: white !important;
            opacity: 0.7;
}
.o_calendar_color_305 {
            color: white !important;
            background-color: black !important;
            border-color:  black !important;
            opacity: 0.7;
}
.o_calendar_color_308 {
            color: black !important;
            background-color: yellow !important;
            border-color: yellow !important;
            opacity: 0.7;
}
.o_calendar_color_309 {
            color: black !important;
            background-color: cyan !important;
            border-color: cyan !important;
            opacity: 0.7;
}
.o_calendar_color_312 {
            color: black !important;
            background-color: orange !important;
            border-color: orange !important;
            opacity: 0.7;
}
.o_calendar_color_313 {
            color: black !important;
            background-color: green !important;
            border-color: green !important;
            opacity: 0.7;
}

.o_underline_color_301 {
            border-bottom: 4px solid white;
}
.o_underline_color_305 {
            border-bottom: 4px solid black;
}
.o_underline_color_308 {
            border-bottom: 4px solid yellow;
}
.o_underline_color_309 {
            border-bottom: 4px solid cyan;
}
.o_underline_color_312 {
            border-bottom: 4px solid orange;
}
.o_underline_color_313 {
            border-bottom: 4px solid green;
}
