.oe_kanban_color_301 {
    background-color: #ffffff !important;
}
.oe_kanban_color_302 {
    background-color: #ffffff !important;
}
.oe_kanban_color_303 {
    background-color: #cccccc !important;
}
.oe_kanban_color_304 {
    background-color: #ffd7d7 !important;
}
.oe_kanban_color_305 {
    background-color: #c9d0ff !important;
}
.oe_kanban_color_306 {
    background-color: #d7c797 !important;
}
.oe_kanban_color_307 {
    background-color: #0522ff !important;
}
.oe_kanban_color_308 {
    background-color: #ffffff !important;
}
.oe_kanban_color_309 {
    background-color: white !important;
}
.oe_kanban_color_310 {
    background-color: white !important;
}
.oe_kanban_color_311 {
    background-color: white !important;
}
.oe_kanban_color_312 {
    background-color: white !important;
}
.oe_kanban_color_313 {
    background-color: white !important;
}

.o_calendar_color_301 {
            color: #000000 !important;
            background-color: #ffffff !important;
            border-color:  #000000 !important;
            opacity: 0.7;
}
.o_calendar_color_302 {
            color: #000000 !important;
            background-color: #ffffff !important;
            border-color:  #000000 !important;
            opacity: 0.7;
}
.o_calendar_color_303 {
            color: white !important;
            background-color: #f8ca03 !important;
            border-color:  #f8ca03 !important;
            opacity: 0.7;
}
.o_calendar_color_304 {
            color: white !important;
            background-color: #59b300 !important;
            border-color:  #59b300 !important;
            opacity: 0.7;
}
.o_calendar_color_305 {
            color: white !important;
            background-color: #303030 !important;
            border-color:  #303030 !important;
            opacity: 0.7;
}
.o_calendar_color_306 {
            color: white !important;
            background-color: #c70000 !important;
            border-color:  #c70000 !important;
            opacity: 0.7;
}
.o_calendar_color_307 {
            color: white !important;
            background-color: #0522ff !important;
            border-color:  #0522ff !important;
            opacity: 0.7;
}
.o_calendar_color_308 {
            color: #000000 !important;
            background-color: #ffffff !important;
            border-color:  #000000 !important;
            opacity: 0.7;
}
.o_calendar_color_309 {
            color: white !important;
            background-color: #1e90ff !important;
            border-color:  #1e90ff !important;
            opacity: 0.7;
}
.o_calendar_color_310 {
            color: black !important;
            background-color: #00e07a !important;
            border-color:  #00e07a !important;
            opacity: 0.7;
}
.o_calendar_color_311 {
            color: white !important;
            background-color: #30aa7a !important;
            border-color:  #30aa7a !important;
            opacity: 0.7;
}
.o_calendar_color_312 {
            color: white !important;
            background-color: #30aa7a !important;
            border-color:  #30aa7a !important;
            opacity: 0.7;
}
.o_calendar_color_313 {
            color: white !important;
            background-color: #30aa7a !important;
            border-color:  #30aa7a !important;
            opacity: 0.7;
}

.o_underline_color_301 {
            border-bottom: 4px solid #ffffff;
}
.o_underline_color_302 {
            border-bottom: 4px solid #ffffff;
}
.o_underline_color_303 {
            border-bottom: 4px solid #f8ca03;
}
.o_underline_color_304 {
            border-bottom: 4px solid #59b300;
}
.o_underline_color_305 {
            border-bottom: 4px solid #303030;
}
.o_underline_color_306 {
            border-bottom: 4px solid #c70000;
}
.o_underline_color_307 {
            border-bottom: 4px solid #0522ff;
}
.o_underline_color_308 {
            border-bottom: 4px solid #ffffff;
}
.o_underline_color_309 {
            border-bottom: 4px solid #1e90ff;
}
.o_underline_color_310 {
            border-bottom: 4px solid #00e07a;
}
.o_underline_color_311 {
            border-bottom: 4px solid #30aa7a;
}
.o_underline_color_312 {
            border-bottom: 4px solid #30aa7a;
}
.o_underline_color_313 {
            border-bottom: 4px solid #30aa7a;
}
