p {
    font-size: 11px;
    margin-bottom: 0px;
}
.distinta_number {
    font-size: 15px;
    font-weight: bold;
    padding: 2px;
    padding-bottom:3px;
    margin-bottom:5px;
}
.with_border {
    border:1px solid #ddd;
    padding-bottom:3px;
    margin-bottom:5px;
}
