<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        <template id="assets_backend" name="list_editable assets" inherit_id="web.assets_backend">
            <xpath expr="." position="inside">
                <script src="/web_mobile_view/static/src/js/list_editable.js"></script>
            </xpath>
        </template>
    </data>
</openerp>
