.oe_hidemenu {
    background-size: auto;
    display: block;
    float: left;
    margin-left: 5px;
    padding: 5px 5px;
    border: none;
}
.oe_letters {
}
@media screen and (max-device-width: 768px) {
/* hide header */
.openerp .oe_view_manager table.oe_view_manager_header h2,
.openerp .oe_view_manager_view_search {
    display: none;
}
.openerp .oe_form_sheetbg {
    padding: 0px !important;
}
/* hide print-attachments button */
.openerp .oe_view_manager table.oe_view_manager_header .oe_view_manager_sidebar {
    display: none !important;
}
/* reduce sheet width */
.openerp .oe_form_sheet_width {
    min-width: 300px;
}
/* fix vertical align of fields */
.openerp .oe_form td.oe_form_group_cell + .oe_form_group_cell {
    padding: 0px 0px 2px 8px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 8px;
}
/* ok wide all input boxes but not when compiled
.openerp .oe_form input[type="text"], .openerp .oe_form input[type="password"],
.openerp .oe_form input[type="file"], .openerp .oe_form select {
	height: 56px;
	font-size: 40px;
}
/* ok wide all input boxes when compiled and text inside
.openerp .oe_form_char_content, .openerp .oe_form .oe_form_field_selection,
.openerp .oe_form .oe_form_uri, .openerp .oe_form .oe_form_field_monetary,
.openerp .oe_form .oe_form_field_file, .openerp .oe_form .oe_form_field_password,
.openerp .oe_form .oe_form_field_text, .openerp .oe_form .oe_form_field_date,
.openerp .oe_form .oe_form_field_datetime {
	height: 56px;
	font-size: 40px;
}
/* text in drop-down many2one fields
.ui-autocomplete {
  font-size: 33px;
  line-height: 38px;
}
/* date label and other
.openerp .oe_form .oe_form_label_help[for], .openerp .oe_form .oe_form_label[for]{
	height: 56px;
	font-size: 40px;
	width: auto;
}
/* tree view header
.openerp .oe_list_content .oe_list_header_columns,
.openerp .oe_list_context .ui-sortable,
.openerp .oe_form_field_one2many .oe_form_field_one2many_list_row_add,
.openerp .oe_form_field_many2many .oe_form_field_one2many_list_row_add {
    font-size: 40px;
    height: 56px;
}
/* tree view content
.openerp .oe_list_editable .oe_list_content td.oe_list_field_cell {
    font-size: 34px;
}
.openerp .oe_list_content td, .openerp .oe_list_content th {
    line-height: 56px;
}
/* remove limit of 150px to datetime and date picker fields
.openerp .oe_form_editable .oe_form .oe_form_field_datetime input,
.openerp .oe_form_editable .oe_form .oe_form_field_date input {
    width: auto;
}
/* drop button
.openerp .oe_list_record_delete .oe_i {
    font-size: 50px;
}
/* open button
.openerp .oe_form_field_many2one .oe_m2o_cm_button {
    font-size: 102px;
    font-weight: 900 !important;
}
/* datepicker button
.openerp .oe_form .oe_input_icon {
    cursor: pointer;
    margin: 3px 0 0 -41px;
    vertical-align: top;
    height: 40px;
    width: 40px;
}
/* arrow button in fields
.openerp .oe_view_manager_view_form .oe_form_container .oe_m2o_drop_down_button img {
    height: 50px;
}
/* header buttons
.openerp a.button, .openerp button,
.openerp .oe_button, .openerp input[type='submit'],
.openerp .oe_button, .oe_form_button_cancel {
    height: 56px;
    font-size: 40px;
    display: inherit;
    margin: 20px 20px 20px;
}
/* button margins
questo non serve .openerp .oe_form > .oe_form_nosheet header .oe_button

.openerp .oe_form > :not(.oe_form_nosheet) header .oe_button:first-child,
.openerp .oe_form > :not(.oe_form_nosheet) header .oe_button {
    margin: 20px 20px 20px;
}
/* status bar
.openerp ul.oe_form_status {
    line-height: 50px;
    font-size: 46px;
    display: inherit;
}
.openerp .oe_leftbar a.oe_logo img { width: 20px; height: 5px; transition: 1s ease-in-out 1s;}
.openerp .oe_leftbar:hover a.oe_logo img { width: 180px; height: 42px; transition: .25s ease-in-out .5s; }
.openerp .oe_leftbar, .openerp .oe_leftbar > div {width:20px; transition: 1s ease-in-out 1s; font-size: 30px;}
.openerp .oe_leftbar:hover, .openerp .oe_leftbar:hover > div {width:200px; transition: .25s ease-in-out .5s; }
.openerp .oe_leftbar .oe_secondary_menus_container, .openerp .oe_leftbar > div > div > div > div.oe_secondary_menus_container
{width:20px; overflow: hidden; background-color: #bbf; transition: 1s ease-in-out 1s;}
.openerp .oe_leftbar:hover .oe_secondary_menus_container
{width:200px; overflow: auto; background-color: initial; transition: .25s ease-in-out .5s;}
.openerp .oe_secondary_submenu .oe_menu_text { overflow:visible; }
.openerp .oe_secondary_menu_section {white-space:nowrap;}
.openerp .oe_leftbar > div .oe_footer {display: none;}
/*#oe_main_menu_navbar {display: -webkit-inline-box;}
/* WIP arrow button in selection field - not works
.openerp .oe_form_char_content, .openerp .oe_form .oe_form_field_selection img {
    height: 50px;
}*/
}